.full-container{
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    justify-content: center;
    margin:auto;
    margin-top: 30px;
    width: 80%;
}

::placeholder { 
  color:white;
}

.category{
    width: 30%;
}

input{
  margin-top: 10px;
}
#search-text{
  width: 95%;
border-width: 0.5px;
border-radius: 10px;
padding :5px;

}

textarea{
  font-size: 16px;
  padding:0 15px;
  
}
.textarea{
  display: block;
  resize: none;
  
  width: auto;
  resize: none;
  line-height: 1.4;
  overflow: hidden;
  height: auto;
  
  outline: none;
  background:transparent;
}
.flashcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    row-gap: 40px;
}
.recto-verso{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:200px;
    border:solid rgb(246, 246, 246) ;
    border-radius: 20px;
    padding:6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    background: rgb(242,242,242);
	background: linear-gradient(162deg, rgba(242,242,242,1) 0%, rgba(143,142,142,1) 46%);

}
.fill{
    display: block;
    text-align: center;
    background: transparent;
    width: 100%;
    overflow: hidden;
    resize: both;
    border: none;
    outline: none;
    resize: none;
}
ul{
  background:#d5d5d5;
  padding: 10px;
}
li{
  list-style: none;
  background:  #ffffff;
  margin: 5px;
  padding : 2px;
}


/* CSS */
button {
  background-color: #96707f;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: #5e1531;
  color:#FFFFFF
}

